*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

.wrapper .header{
	position: fixed;
	top: 14px;
	width: 100%;
	height: 70px;
	z-index: 999;
}

.wrapper .header .hd_left{
	position: absolute;
	left: 20px;
	border-radius: 15px;
	padding: 0 0 15px 0;
	background-color: #fff;
	left: 20px;
}

.wrapper .header .hd_left .language_current{
	margin: 15px 0 6px 15px;
	width: 131px;
	z-index: 99;
	cursor: pointer;
}
.wrapper .header .hd_left .language_name{
	color: #004f69;
}

.wrapper .header .hd_left .language-triangle{
	position: absolute;
	top: 23px;
	left: 3px;
	width: 0;
	border-width: 4px;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
}

.wrapper .header .hd_left .language a{
	display: block;
	padding: 6px 15px;
	color: #004f69;
}

.wrapper .header .hd_left .flag{
	display: inline-block;
	width: 35px;
	height: 24px;
	margin-right: 13px;
	vertical-align: middle;
	background-image: url(https://alvarotrigo.com/fullPage/imgs/flags.png);
}
.flag_english{
	background-position: 140px 0;
}
.flag_russian{
	background-position: 105px 0;
}
.flag_korean{
	background-position: 70px 0;
}
.flag_spanish{
	background-position: 35px 0;
}

#menu{
	position: absolute;
	top: 10px;
	right: 20px;
}

#menu .item{
	display: inline-block;
	height: 100%;
	margin: 10px 0;
}

#menu .item i{
	vertical-align: middle;
    display: inline-block;
    width: 38px;
    height: 14px;
    fill: #fff;
}

#menu .item svg{
	height: 40px;
	margin-top: -15px;
}
#menu .item a{
	color: #fff;
	padding: 0 24px;
	letter-spacing: 1px;
	font-size: 18px;
}

#menu .active{
	font-weight: 700;
}

#menu .menu_line{
	position: absolute;
	top: 33px;
    left: 24px;
    width: 163px;
    height: 2px;
	background-color: #fff;
    transition: all 600ms ease
}

.page_list{
	position: fixed;
	right: 20px;
	width: 10px;
	padding: 0 5px;
	text-align: center;
}

.page_list .page_item{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 1px 20px 1px;
	border-radius: 50%;
	background-color: #fff;
}

.slider_list{
	position: absolute;
	display: flex;
	bottom: 50px;
	height: 10px;
	padding: 5px 0;
	align-items: center;
}
.slider_list .slider_item{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 20px;
	border-radius: 50%;
	background-color: #fff;
}

.page_list .listActive,.slider_list .listActive,.page_list .page_item:hover,.slider_list .slider_item:hover{
	background-color: #000;
}

.left_btn,.right_btn{
	position: absolute;
	top: calc(50% - 45px);
    width: 70px;
    height: 90px;
    z-index: 99;
	cursor: pointer;
}

.left_btn{
	left: 40px;
}

.right_btn{
	right: 40px;
}

polyline{
	stroke-width: 3;
	transition: all 250ms ease-in-out;
}
.controlBtn:hover polyline{
	stroke-width: 6;
}


.content {
		width: 100%;
		height: 300px;
		position: absolute;
		top: calc(50% - 150px);
		text-align: center;
}
.content .download li{
	display: inline-block;
	margin: 17px 4px;
}

.content .download li a{
	padding: 12px 25px;
	background: #fff;
	border-radius: 5px;
	display: block;
	color: #ff5f45;
}

.big-image{
	background-size: 93% auto;
	background-repeat: no-repeat;
	background-position: 50%;
}


.title{
	font-size: 140px;
	font-weight: 900;
	color: #fff;
	margin: 0 0 35px;
}

.intro{
	position: absolute;
	top: calc(50% - 150px);
	width: 100%;
	height: 300px;
	text-align: center;
	color: #fff;
}

.intro .sliderT{
	font-size: 8em;
	font-weight: 700;
	margin: 0 0 0.25em;
	z-index: 99;
}

.intro p{
	max-width: calc(30em - (1.3em * 2));
	margin: 0 auto;
    padding: 0 1.3em;
    font-size: 1.5em;
	z-index: 99;
}

.intro .github_data{
	display: inline-block;
    padding: 5px 10px;
    margin: 2em 5px 0 5px;
    border-radius: 5px;
    width: 25%;
    max-width: 118px;
}

.intro .github_data_1 {
	background: #404b5a;
}
.intro .github_data_2 {
	background: #2fd069;
}
.intro .github_data_3 {
	background: #fc6c7c;
}

.intro .sponsor{
	background-image: url(https://alvarotrigo.com/fullPage/imgs/trusted-by-big.png);
    max-width: 633px;
    height: 118px;
    margin: 1em auto 0 auto;
}

.intro .compatible{
	background-image: url(https://alvarotrigo.com/fullPage/imgs/compatible.png);
    width: 80%;
    max-width: 444px;
    height: 78px;
    margin: 1em auto 0 auto;
}

.section3 .intro{
	display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 50%;
    padding: 0 3em;
}

.section3 .intro p{
	width: 100%;
    padding: 0;
}

.section3 .htmlPhoto{
	display: inline-block;
	position: absolute;
	top: calc(50% - 180px);
	right: 40px;
	width: 630px;
	height: 360px;
}

.section4 .bg_head{
	height: 100%;
	background: url(https://alvarotrigo.com/fullPage/imgs/touch-responsive.jpg) no-repeat center bottom;
}

@media (min-width: 860px) and (max-width: 1000px){
	.section3 .intro {
		display: block;
		text-align: left;
	}
	.section3 .intro p{
		display: none;
	}
	.section3 .htmlPhoto{
		top: calc(50% - 144px);
		right: 40px;
		width: 504px;
		height: 288px;
	}
}

@media screen and (max-width: 860px){
	.section3 .intro {
		display: block;
		text-align: left;
	}
	.section3 .intro p{
		width: 175%;
		display: block;
	}
	.section3 .htmlPhoto{
		display: none;
	}
}
